@use "_variables" as *;
@use "_responsive" as *;

html {
  overflow-y: scroll;
}

.about {
  padding: $padding-large;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
}

.about-intro {
  text-align: center;
  margin-bottom: $section-padding;

  h2 {
    font-size: $font-size-x-large;
    font-weight: bold;
    margin-bottom: $padding-small;
  }

  p {
    font-size: $font-size-small;
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto;
  }
}

.about-locations {
  margin-bottom: $padding-large;
  width: 100%;

  h3 {
    font-size: $font-size-x-large;
    text-align: center;
    margin-bottom: $padding-large;
  }

  .location-list {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .location-item {
    padding: $padding-medium;
    background-color: $white-color;
    border-radius: $padding-small;
    box-shadow: $box-shadow;
    width: 100%;
    box-sizing: border-box;
  }
}

.about-faq {
  width: 100%;

  h3 {
    font-size: $font-size-x-large;
    text-align: center;
    margin-bottom:$padding-large;
  }

  .faq {
    display: flex;
    flex-direction: column;
    gap: $padding-small;
    width: 100%;
  }

  .faq-item {
    border-radius: 1rem;
    background: $white-color;
    box-shadow: $box-shadow;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: $padding-medium;
  background-color: $white-color;
  font-weight: bold;
  cursor: pointer;
  font-size: $font-size-medium;
  border: none;
  box-sizing: border-box;
  gap: $padding-medium;

  .text {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .arrow {
    font-size: $font-size-x-small;
    color: $gray-color;
    transition: transform 0.4s ease;
  }

  &.expanded .arrow {
    transform: rotate(180deg);
  }
}

.faq-answer {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0 $padding-small;
  background-color: $white-color;
  border-top: 1px solid $dark-white-color;
  font-size: $font-size-small;
  line-height: 1.6;
  box-sizing: border-box;
  opacity: 0;

  button {
    color: $text-color;
  }
}

.faq-answer.expanded {
  height: auto;
  padding: $padding-medium;
  opacity: 1;
}

  .faq-item:hover {
    box-shadow: $box-shadow;
  }

}
