@use '_variables' as *;

.site-footer {
  background-color: $primary-color;
  color: $white-color;
  padding: $padding-medium $padding-small;
  text-align: center;
  margin-top: auto;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
