@use "_variables" as *;

$spacing: 1.5rem;
$font-size: 1.125rem;

.navbar {
  background-color: $primary-color;
  color: $white-color;
  padding: 1rem 2rem;

  .navbar-container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-title {
    color: $white-color;
    font-size: 1.875rem;
    font-weight: 600;
  }

  .navbar-links {
    display: flex;
    gap: $spacing;
    align-items: center;


    @media screen and (max-width: 768px) {
      display: none;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: $primary-color;
      padding: 1rem 0;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 10;
    }
  }

  .navbar-link {
    font-size: $font-size;
    color: $white-color;
    text-decoration: none;
    padding: $padding-small $padding-medium;
    border-radius: $border-radius;
    outline: $white-color solid 0px;
    transition: background 0.3s;

      &:hover {
        background: lighten($primary-color, 10%);
      }
  }

  .navbar-auth {
    display: none;
  }

  .navbar-sign-in {
    display: block;
  }

  .navbar-signed-in {
    display: block;
  }

  // Hamburger menu icon
  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 20px;
    cursor: pointer;

    span {
      width: 25px;
      height: 4px;
      background-color: $white-color;
      border-radius: 2px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
    }
  }

  .navbar-links.active {
    display: flex;
  }
}
