// Color Variables
$primary-color: #1F2041;
$secondary-color: #4B3F72;
$text-color: #222222;
$white-color: #f7f7f7;
$dark-white-color: #eaeaea;
$gray-color: #636363;
$bg-color: #ececec;
$modal-bg-color: rgba(0, 0, 0, 0.7);
$modal-content-bg: #f5f5f5;

// Spacing & Border
$border-radius: 0.375rem;
$modal-padding: 20px;
$padding-large: 2rem;
$padding-medium: 1rem;
$padding-small: 0.75rem;
$padding-x-small: 0.5rem;
$section-padding: 4rem;
$gap: 1.5rem;
$gap-small: 1rem;

// Font Sizes
$font-size-x-large: 2.5rem;
$font-size-large: 1.75rem;
$font-size-medium: 1.25rem;
$font-size-small: 1rem;
$font-size-x-small: 0.875rem;


$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);