{{> header}}
<body>
  {{> navBar}}

  <main class="about">
    <section class="about-intro">
      <h2>{{ aboutInfo.title }}</h2>
      <p>{{{aboutInfo.description}}}</p>
    </section>

    <section class="about-locations">
      <h3>Our Locations</h3>
      <ul class="location-list">
        {{#locations}}
        <li class="location-item">
          <h4>{{ name }}</h4>
          <p>{{ address }}</p>
        </li>
        {{/locations}}
      </ul>
    </section>

    <section class="about-faq">
      <h3>Frequently Asked Questions</h3>

      <div class="faq">
        {{#faqs}}
        <div class="faq-item">
          <button class="faq-question">
            <span class="text">{{ question }}</span>
            <span class="arrow">&#9660;</span>
          </button>
          <div class="faq-answer hidden">{{ answer }}</div>
        </div>
        {{/faqs}}
      </div>
    </section>
  </main>

  {{> footer}}

  <script src="/js/about.js"></script>
</body>
