{{> header}}
<body>
  {{> navBar}}
  <main class="homepage">
    <div class="background"></div>
    <div class="content">
      <h1 class="main-title">Dance Classes Jiggleton</h1>
      <a href="/courses" class="home-button-main">View Courses</a>
    </div>
  </main>
  {{> footer}}
</body>
