<header class="navbar">
  <div class="navbar-container">
    <h1 class="navbar-title">Dance Classes</h1>

    <div class="hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="navbar-links" id="navbar-links">
      <a href="/" class="navbar-link">Home</a>
      <a href="/about" class="navbar-link">About Us</a>
      <a href="/courses" class="navbar-link">Courses</a>
      <a href="/classes" class="navbar-link">Classes</a>

      {{#isSignedIn}}
      <div class="navbar-auth navbar-signed-in">
        {{#isAdmin}}
        <a href="/manageCourses" class="navbar-link">Manage Courses</a>
        <a href="/adminConsole" class="navbar-link">Admin Console</a>
        {{/isAdmin}}

        {{#isOrganiser}}
        <a href="/manageCourses" class="navbar-link">Manage Courses</a>
        {{/isOrganiser}}

        <a href="#" id="logout-button" class="navbar-link">Sign Out</a>
      </div>
      {{/isSignedIn}}

      {{^isSignedIn}}
      <div class="navbar-auth navbar-sign-in">
        <a href="/login" class="navbar-link">Sign In</a>
      </div>
      {{/isSignedIn}}
    </nav>
  </div>
</header>
<script src="../js/navbar.js"></script>
