<html>
<head>
  {{> header}}

</head>
<body>
  {{> navBar}}

  <main class="auth-form">
    <h1>Set New Password</h1>
    {{#token}}
    <form method="POST" action="/resetPassword/{{token}}" onsubmit="return validateResetForm()">
      <label>New Password</label>
      <input type="password" id="password" name="password" required />

      <label>Confirm Password</label>
      <input type="password" id="confirm-password" name="confirmPassword" required />

      <button class="button-main" type="submit">Reset Password</button>
    </form>
    {{/token}}
    {{^token}}
  <p>Your reset link is invalid or expired. Please <a href="/reqResetPassword">request a new one</a>.</p>
{{/token}}

      <ul class="error-messages" id="error-messages">
        {{#errorMessages}}
        <li>{{msg}}</li>
      {{/errorMessages}}
  </ul>
  </main>

  {{> footer}}
</body>
</html>
