<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1>MoveWithUs</h1>
    </header>

    {{{ body }}}

    <footer>
      <p>© 2025 MoveWithUs</p>
    </footer>
  </body>
</html>
